<%= render "shared/navbar" %>
<div  class="container mt-5">
    <h2>Details</h2>
    <h4><%= @restaurant.name %></h4>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
</div>

<div class="container">
    <div class="mt-5">
        <h2>Reviews</h2>
        <h4>Write a new review for <%= @restaurant.name %></h4>
        <div  class="container mt-5">
            <%= simple_form_for [@restaurant, @review] do |f| %>
                <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], promt: "Choose rating" %>
                <%= f.input :content %>
                <%= f.button :submit, class: "btn btn-primary" %>    
            <% end %>
        </div>
    </div>

    <div class="mt-5">
        <h4>Latest reviews</h4>
        <ul>
        <% @restaurant.reviews.each do |review| %>
            <li><%= review.rating %> | <%= review.content %></li>
        <% end %>
        </ul>
    </div>
</div>
